* {
  padding: 0;
  margin: 0;
}
a {
  list-style-type: none;
  text-decoration: none;
}
.public-nav {
  width: 100%;
  height: 40px;
  background-color: #32373e;
  position: relative;
}
.public-nav span {
  display: inline-block;
}
.public-nav .company-logo {
  width: 45px;
  height: 20px;
  background: url(http://www.lgstatic.com/www/static/common/widgets/header_c/modules/img/sprite_361857f.png) no-repeat;
  background-size: 60px;
  background-position: -7px -9px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 80px;
}
.public-nav .address {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 140px;
  color: #0dca9f;
}
.public-nav .city {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 180px;
  color: #afb5c0;
}
.public-nav ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 180px;
  overflow: hidden;
}
.public-nav ul li {
  display: inline-block;
  width: 70px;
  line-height: 40px;
  text-align: center;
  float: left;
  color: #afb5c0;
}
.public-nav ul .li-1 {
  background-color: #24282c;
}
.public-nav .register {
  position: absolute;
  right: 310px;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
.public-nav .register a {
  color: #afb5c0;
  margin-left: 15px;
}
.public-nav .register .register-log {

    border-style: solid dashed;
    border-color: #fff transparent transparent;
}
.public-nav .app {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 190px;
  color: #0dca9f;
}
.public-nav .app .app-log {
  width: 15px;
  height: 20px;
  background: url(http://www.lgstatic.com/www/static/common/widgets/header_c/modules/img/sprite_361857f.png) no-repeat;
  background-size: 60px;
  background-position: -6px -88px;
  margin-left: -20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.public-nav .version {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 70px;
  color: #afb5c0;
}
.public-footer {
  width: 100%;
  border-top: 1px solid #ebebeb;
  margin-top: 1000px;
}
.public-footer .inner_wrapper {
  display: flex;
  flex-wrap: nowrap;
}
.public-footer .footer_module_column {
  border-right: 1px solid #E8E8E8;
  width: 375px ;
  text-align: center;
  margin-top: 50px;
}
.public-footer .footer_module_column .footer_app {
  padding: 10px 0 8px;
  width: 180px;
  border: 1px solid #00B38A;
  color: #00B38A;
  margin-bottom: 16px;
  text-align: center;
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.public-footer .footer_module_column .footer_app .footer_app_icon {
  display: inline-block;
  height: 16px;
  width: 12px;
  margin-right: 7.6px;
  margin-top: 10px;
  background: url(//www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png) -150px -220px no-repeat;
}
.public-footer .footer_module_column .footer_mina {
  padding: 10px 0 8px;
  width: 180px;
  border: 1px solid #00B38A;
  color: #00B38A;
  margin-bottom: 16px;
  display: flex;
  display: inline-block;
  text-align: center;
}
.public-footer .footer_module_column .footer_mina .footer_mina_icon {
  display: inline-block;
  height: 14px;
  width: 16px;
  margin-right: 6.4px;
  background: url(//www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png) -214px -54px no-repeat;
}
.public-footer .footer_module_column a {
  justify-content: center;
  align-items: center;
}
.public-footer .footer_module_column .footer_module_item a {
  padding: 15px;
  font-size: 10px;
  color: #555555;
}
.public-footer .footer_module_column .footer_module_item .footer_wechat_icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 5px;
  background: url(//www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png) -114px -184px no-repeat;
}
.public-footer .footer_module_column .footer_module_item .footer_webo_icon {
  display: inline-block;
  height: 14px;
  width: 16px;
  margin-right: 5px;
  background: url(//www.lgstatic.com/www/static/common/widgets/footer_c/modules/img/sprite_9dd5c92.png) -214px -20px no-repeat;
}
.public-footer .footer_module_right {
  margin-left: 130px;
  margin-top: 40px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.public-footer .footer_module_right .footer_module_business {
  margin-right: 100px;
}
.public-footer .footer_module_right .footer_module_business .footer_module_title {
  font-size: 18px;
  font-weight: 600;
  color: #555;
  margin-bottom: 30px;
}
.public-footer .footer_module_right .footer_module_business a,
.public-footer .footer_module_right .footer_module_business span {
  display: block;
  margin-bottom: 10px;
}
.public-footer .footer_module_right a {
  color: #555555;
}
.public-footer .footer_module_right .tel-2 {
  color: #3ac6a9;
}
.public-footer .copyright {
  clear: both;
  margin: 0 auto;
  color: #999;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  background: #FAFAFA;
  height: 100px;
  overflow: hidden;
}
.public-footer .copyright a {
  padding-right: 0;
  font-size: 14px;
  color: #999;
}
.public-footer .copyright .copyright_main {
  width: 1200px;
  max-width: 1200px;
  margin: 28px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.public-footer .copyright .copyright_main .footer_gongan {
  margin: 0 0 0 20px;
  display: flex;
  align-items: center;
}
.public-footer .copyright .copyright_main .footer_lagou_gongan {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/sprite_9dd5c92.png) -150px -184px no-repeat;
  margin: 0 5px 0 0;
}
.public-footer .copyright .copyright_main_left {
  display: flex;
  align-items: center;
}
.public-footer .copyright .copyright_main_left .footer_lagou_jubao {
  margin: 0 0 0 20px;
  border: 1px solid #D5DADF;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  width: 185px;
  height: 50pxs;
  line-height: 20px;
}
.public-footer .copyright .copyright_main_left .footer_lagou_jubao p {
  display: flex;
  flex-flow: wrap;
}
.public-footer .copyright .copyright_main_left .footer_lagou_jubao .lagou_jubao {
  display: inline-block;
  width: 50px;
  height: 24px;
  background: url(../img/sprite_9dd5c92.png) -132px -20px no-repeat;
  margin: 0 10px 0 0;
}
.public-footer .copyright .copyright_title {
  margin-right: 5px;
}
.public-footer .copyright .footer_lagou_icon {
  display: inline-block;
  width: 198px;
  height: 19px;
  background: url(../img/footer_lagou_icon_75f0ebc.png) 0 0 no-repeat;
}
