* {
  padding: 0;
  margin: 0;
}
.dropbox-section {
  position: relative;
  height: 0px;
}
.dropbox-section .left-div {
  margin-left: 180px;
}
.dropbox-section .left-div .c_delivery {
  width: 600px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  top: 50px;
  height: 50px;
  padding: 10px 0 0 20px;
}
.dropbox-section .left-div .c_delivery h1 {
  font-weight: 400;
  line-height: 42px;
  color: #555555;
}
.dropbox-section .left-div .c_delivery h1 em {
  background: #ffffff url(../img/角.png) no-repeat;
  width: 24px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 0;
}
.dropbox-section .left-div .c_delivery .d_refresh {
  font-size: 18px;
  color: #555;
  background: url(../img/刷新.png) left center no-repeat;
  padding-left: 20px;
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
}
.dropbox-section .left-div .delivery_tabs {
  width: 620px;
  background-color: #f2f2f2;
  padding: 0;
  margin-top: 70px;
}
.dropbox-section .left-div .delivery_tabs ul.reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dropbox-section .left-div .delivery_tabs ul.reset li.current {
  border-bottom: 2px solid #00b38a;
}
.dropbox-section .left-div .delivery_tabs ul.reset li.current a {
  border-left: none ;
}
.dropbox-section .left-div .delivery_tabs ul.reset li {
  padding: 16px 0 13px;
  display: inline-block;
}
.dropbox-section .left-div .delivery_tabs ul.reset li a {
  font-size: 18px;
  line-height: 16px;
  padding-left: 16px;
  padding-right: 16px;
  color: #777;
  border-left: 1px solid #d8d8d8;
}
.dropbox-section .right-div {
  width: 300px;
  position: absolute;
  right: 210px;
  top: 50px;
}
.dropbox-section .right-div .mr_r_nav {
  margin-bottom: 18px;
}
.dropbox-section .right-div .mr_r_nav .clearfix {
  list-style: none;
  padding: 0;
}
.dropbox-section .right-div .mr_r_nav .clearfix li {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 3px;
  border: 1px solid #f2f2f2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.dropbox-section .right-div .mr_r_nav .clearfix li a {
  position: relative;
  display: block;
  padding-top: 40px;
  height: 26px;
  text-align: center;
  background-color: #fafafa;
  color: #555;
}
.dropbox-section .right-div .mr_r_nav .clearfix li a i {
  position: absolute;
  left: 50%;
  margin-left: -14px;
  top: 12px;
  width: 30px;
  height: 25px;
  background: url(../img/投递箱.png) no-repeat;
}
.dropbox-section .right-div .mr_r_nav .clearfix li a .td {
  background-position: 0 -316px;
}
.dropbox-section .right-div .mr_r_nav .clearfix li a .yq {
  background-position: -101px -316px;
}
.dropbox-section .right-div .mr_r_nav .clearfix li a .sc {
  background-position: -35px -316px;
}
.dropbox-section .right-div .mr_r_nav .clearfix li a .dy {
  background-position: -67px -316px;
}
.dropbox-section .right-div .like {
  width: 300px;
  padding: 0;
  margin-top: 70px;
}
.dropbox-section .right-div .like ul.reset {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 2px solid #e9e9e9 ;
}
.dropbox-section .right-div .like ul.reset li.current {
  border-bottom: 2px solid #00b38a;
}
.dropbox-section .right-div .like ul.reset li.current a {
  border-left: none ;
  margin-left: -20px;
}
.dropbox-section .right-div .like ul.reset li {
  padding: 16px 0 13px;
  display: inline-block;
}
.dropbox-section .right-div .like ul.reset li a {
  font-size: 15px;
  line-height: 16px;
  padding-left: 26px;
  padding-right: 26px;
  color: black;
  font-weight: bold;
  border-left: 1px solid #d8d8d8;
}
.dropbox-section .right-div .like .position_detail_content {
  border-bottom: 1px dashed #e5e5e5;
  position: relative;
  width: 300px;
  height: 80px;
  vertical-align: top;
}
.dropbox-section .right-div .like .position_detail_content .guess_like_list_item_logo {
  width: 58px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #f2f2f2;
}
.dropbox-section .right-div .like .position_detail_content .guess_like_list_item_logo img {
  display: block;
}
.dropbox-section .right-div .like .position_detail_content .guess_like_list_item_pos {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30%;
  width: 210px;
}
.dropbox-section .right-div .like .position_detail_content .guess_like_list_item_pos .tit {
  font-size: 18px;
  color: black;
}
.dropbox-section .right-div .like .position_detail_content .guess_like_list_item_pos p {
  color: #e6775c;
  margin: -2px 0 0 0;
  padding: 0;
  font-size: 16px;
}
.dropbox-section .right-div .like .position_detail_content .guess_like_list_item_pos .company_name {
  color: #999999;
}
.dropbox-section .right-div .like .position_detail_content .guess_like_list_item_pos .company_name .company_name_span {
  text-overflow: ellipsis;
  font-size: 10px;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  display: block;
  float: left;
}
.dropbox-section .right-div .like .position_detail_content .guess_like_list_item_pos .company_name .company_position_span {
  position: absolute;
  right: 0;
  font-size: 10px;
}
.dropbox-section .right-div .like .similar_position_footer {
  display: block;
  color: #555;
  height: 35px;
  line-height: 35px;
  background: #fafafa url(../img/similar_position_triangle_ef2979b.png) no-repeat 220px 10px;
  margin-bottom: 10px;
  margin-top: 12px;
  text-align: center;
}
