*{
	padding: 0;
	margin: 0;
	font-size: 15px;
	color: #555572;
}
.section{
	
}
.toubu{
	background: #f2f5f4;
}
.tou{
	display: flex;
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
}
.tou-1{
	width: 70%;
	padding: 15px;
	box-sizing: border-box;
}
.tou-1 p{
	margin-bottom: 10px;
}
.tou-1 p:nth-of-type(1){
	font-size: 14px;
}
.tou-1 p:nth-of-type(2){
	font-size: 35px;
	color: black;
}
.tou-1 p:nth-of-type(3){
	font-size: 19px;
}
.price{
	color: #fd5f39;
	font-size:19px ;
}
.tou-1 p:nth-of-type(5){
	font-size: 13px;
	color: #a499a4;
}
.zhi span{
	
	background: white;
	font-size: 12px;
	padding: 1px 3px;
	border-radius: 10px;
	margin-right: 5px;
}
.tou-2{
	width: 30%;
	display: flex;
	padding: 15px;
	
}
.tou-2-1{
	margin-right: 15px;
	text-align: center;
}
.tou-2-2{
	
	text-align: center;
}
.tou-2-1 p:nth-of-type(1){
	border: 1px solid #00b38a;
	color: #00b38a;
	text-align: center;
	padding: 15px 30px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.tou-2-1 p:nth-of-type(2){
	font-size: 14px;
}


.tou-2-2 p:nth-of-type(1){
	border: 1px solid #00b38a;
	color: white;
	background:#00b38a ;
	text-align: center;
	padding: 11px 21px;
	border-radius: 5px;
	margin-bottom: 10px;
	font-size: 20px;
}
.tou-2-2 p:nth-of-type(2){
	font-size: 14px;
	margin-bottom: 10px;
}


.tou-2-2 p:nth-of-type(3){
	text-align: center;
}
/*中*/
.zhong{
	background: #f2f5f4;
	display: flex;
	justify-content: space-between;
}
.zhong-left{
	width: 63%;
	background: white;
	
}
.zhong-1{
	width: 75%;
	margin-left: 23%;
	margin-top: 30px;
	padding-top: 20px;
}
.zhong-1 li h3{
	color: black;
	font-size: 17px;
}
.zhong-1 ul li{
	list-style-type: none;
	margin: 15px;
}
.zhong-right{
	width: 36.5%;
	background: white;
}
.dizhi{
	overflow: hidden;
}
.dizhi span{
	float: left;
	color: #09c084;
}
.dizhi span:nth-of-type(2){
	color: black;
}
.dizhi span:nth-of-type(4){
	color: black;
}
.dizhi span:nth-of-type(6){
	color: black;
}
.dizhi span:nth-of-type(7){
	color: black;
}

.dizhi a{
	float: right;
	color: #09c084;
}
.fabu{
	overflow: hidden;
	box-sizing: border-box;
}
.fabu div{
	float: right;
	text-align: center;
	border-right: 1px solid #f3f3f3;
	padding:5px 15px;
	box-sizing: border-box;
}
.fabu img{
	width: 60px;
	width: 60px;
	float: left;
}
.fabu div:nth-of-type(1){
	padding-right: 0;
	border-right: 0;
}
.fabu div p:nth-of-type(1){
	margin-bottom: 3px;
}
.fabu div p:nth-of-type(2){
	font-size: 15px;
	margin-bottom: 3px;
}
.fabu div p:nth-of-type(3){
	font-size: 12px;
	color: #999999;
	margin-bottom: 3px;
	
}
.fabu div span{
	color: #fd644a;
}
.pin{
	position: relative;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}
.pinjia{
	position: relative;
	padding: 100px;
	text-align: center;
}
.pinjia img{
	position: absolute;
	left: 30%;
	top: 40%;
	
	
}
.tong1{
	background: white;
	position: absolute;
	left:0 ;
	top:-14px;
	font-size: 19px;
	padding-right: 5px;
	
}
.tong2{
	background: white;
	position: absolute;
	left:0 ;
	bottom:-14px;
	font-size: 19px;
	padding-right: 5px;
}
.tong3{
	background: white;
	position: absolute;
	right:-20px ;
	bottom:-12px;
	font-size: 15px;
	padding-left:8px;
	padding-right:25px;
	color: #00b38a;
}
.zhong-3{
	margin-top: 40px;
	display: flex;
	justify-content:space-around;
}
.haikan img{
	width: 70px;
	height: 70px;
	border: 1px solid #ebebeb;
}
.haikan p{
	margin-bottom: 5px;
}
.haikan p:nth-of-type(1){
	
}
.haikan p:nth-of-type(2){
	color: #fd5f39;
	
}
.haikan p:nth-of-type(3){
	color: #999999;
	font-size: 14px;
}
.zhong-4{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 100px;
	
}
.zhong-4 a{
	color: #999999;
	text-decoration: underline;
}
.zhong-4 a:nth-of-type(1){
	text-decoration:none;
	color: #bebebe;
}
.zhong-4 a:nth-of-type(9){
	text-decoration:none;
	color: #bebebe;
}

/*you*/

.zhong-right{
	padding-top: 30px;
	
}
.zhong-2-1{
	margin-left: 30px;
}
.zhong-2-1 .tu-1{
	width: 100px;
	height: 100px;
}
.zhong-2-1 .p1 .tu-2{
	position: absolute;
	left: 195px;
	bottom:4px;
	width: 20px;
	height: 20px;
}
.zhong-2-1  .p1 {
	position: relative;
}
.zhong-2-1  .p1 .kai{
	left: 110px;
	font-size: 20px;
	position: absolute;
	bottom:2px;
}
.zhong-2-1  p{
	margin-bottom: 25px;
	font-size: 16px;
	color:#777777 ;
}
.zhong-2-2{
	width: 250px;
	position: relative;
	margin-left:30px ;
	margin-top:50px ;
	padding-top: 20px;
	border-top: 1px solid #e8e8e8;
}
.zhong-2-2 h1{
	font-size: 22px;
	position: absolute;
	top:-15px;
	background: white;
	padding-right: 5px;
	color: black;
	
}
.zhong-2-2  .xiaokuang{
	display: flex;
	border-bottom: 1px dashed #e8e8e8;
	padding-bottom: 20px;
	padding-top: 20px;
}
.zhong-2-2 img{
	width: 60px;
	height: 60px;
	border:2px solid #e8e8e8 ;
}
.xiaokuang-1{
	margin-left:10px;
}
.xiaokuang-1 p{
	font-size: 16px;
	margin-bottom: 4px;
}
.xiaokuang-1 p:nth-of-type(1){
	
}
.xiaokuang-1 p:nth-of-type(2){
	color: #e6775c;
	font-weight: bold;
	font-size: 18px;
}
.xiaokuang-1 p:nth-of-type(3){
	font-size: 13px;
	color: #999999;
}
.more img{
	width: 20px;
	height: 20px;
	position: absolute;
	top:10px;
	left: 180px;
	border: none;
}
.more a{
	color: darkgray;
	text-align: center;
	padding-left: 40px;
}
.more{
	position: relative;
	padding: 10px 20px;
	
	background: #fafafa;
}
.fa-exclamation-triangle{
	color: #c6ced0;
	padding-right: 5px;
	border-right: 1px solid #c6ced0 ;
}
.fa-weixin{
	color: #c6ced0;
	padding-right: 5px;
	padding-left: 5px;
	border-right: 1px solid #c6ced0 ;
}
.fa-jsfiddle{
	color: #c6ced0;
	padding-left: 5px;
}
.fa-star-o{
	color: #00b38a;
	
}
.fa-qrcode,.fa-line-chart,.fa-user-o,.fa-home{
	color: #737373;
	margin-right: 10px;
}
/*dibu*/

.dibu{
	position: fixed;
	bottom: 10px;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-around;
	background:#09c084 ;
	
}
.dibu div:nth-of-type(1) img{
	margin-top: -25px;
	margin-left: 100px;
	width: 110px;
	
}
.dibu div:nth-of-type(2){
	font-size: 19px;
	color: white;
	height: 70px;
	line-height: 70px;
}
.dibu div:nth-of-type(3){
	font-size: 19px;
	color: white;
	height: 70px;
	line-height: 70px;
}
.dibu div:nth-of-type(3) span{
	font-size: 19px;
	color: white;
	
	padding-left: 20px;
	padding-right: 20px;
	
}
.dibu div:nth-of-type(3) span:nth-of-type(1){
	border-right: 1px solid white;
}
.dibu div:nth-of-type(4){
	font-size: 19px;
	
	height: 70px;
	line-height: 70px;
}
button{
	background: white;
	color: #09c084;
	padding: 10px 30px;
	border: none;
	margin-left: 10px;
	border-radius: 5px;
}

